<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rain Check</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {{> header}}
        {{> menubar}}
            <div class="main">
                <div class="tab">
                    <form>
                        <button class="tablinks" onclick="window.location.href='http://www.google.com'">View</button>
                        <button class="tablinks" onclick="viewTab('add')">Add</button>
                    </form>
                </div>
                <div class="rec-text">
                    {{#if (eq tab 'view')}}
                        <div id="view_garments" class="tabcontent">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Image</th>
                                    <th>Date Modified</th>
                                </tr>
                            </table>
                            {{#each garment_list}} 
                                {{!-- {{#each this}} {{@key}}: {{this}} {{/each}}  --}}
                                {{this.image_url}}
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if (eq tab 'add')}}
                        <div id="add_garments" class="tabcontent">
                            Add a garment.
                        </div>
                    {{/if}}
                </div>
            </div>
    </body>
</html>